<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li><a href="/calendar">Calendar View</a></li>
            <li class="uk-active"><a href="/list">Current Subscriptions</a></li>
            <li><a href="/subscription">Add New Subscription</a></li>
            <li><a href="/logout"><button>Logout</button></a></li>

        </ul>

    </div>
</nav> 

<<<<<<< HEAD
<div> Subscriptions List!</div>

<ul>
    {{#each subscriptions}}
    {{this.name}} {{this.amount}} {{this.dueDate}}
    {{/each}}
</ul>



=======
<section class="billSubs">
    <h1 class="uk-article-title">Bills and Subscriptions List</h1>
        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
            <h1 class="uk-article-title"></h1>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    {{#each dbSubs}}
                    <h3 class="uk-card-title">{{this.name}}</h3>
                    <p><span class="uk-text-success">{{this.amount}} $</span></p>
                    <p> <span class="uk-text-uppercase uk-text-bold">Due on:</span> {{this.dueDate}} </p>
                    <hr class="uk-divider-icon">
                    {{/each}}
                </div>
            </div>
        </div>
</section>
>>>>>>> a662a959f5400348c1e65276b6fd6de4d7055340
